# FOLDERS ######################################################################

dist/
ignore/
node_modules/

# FILES ########################################################################

logs.txt
pnpm-lock.yaml
package-lock.json
yarn.lock